
@font-face{
    font-family: "yekan";
    src: url(../fonts/yekan.ttf);
}
@font-face{
    font-family: "simp";
    src: url(../fonts/BYekan+\ Bold.ttf);
}
@font-face{
    font-family: "yekanboldP";
    src: url(../fonts/BYekan+\ Bold.ttf);
}
@font-face{
    font-family: "yekanp";
    src: url(../fonts/BYekan+.ttf);
}
@font-face{
    font-family: "iran";
    src: url(../fonts/BYekan+\ Bold.ttf);
}
@font-face{
    font-family: "aviny";
    src: url(../fonts/BYekan+\ Bold.ttf);
}